<div class="user_index">
<h1>お客様一覧</h1>
 <table class="table">
    <thead>
        <tr>
         　 <th>お客様No.</th>
        　  <th>お客様名</th>
        　  <th>E-mail</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
            <% @users.each do |user| %>
        <tr>
            <td><%= user.number %> </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "編集", "/users/#{user.id}/edit", class:"btn btn-primary mr-3" %></td>
            <td><%= link_to "削除", user, method: :delete, class:"btn btn-primary mr-3" %></td>
            <% end %>
        </tr>
    </tbody>
</table>
</div>

<div class="user_form">
<h2>お客様マスター情報登録はこちら</h2>
    <%= form_for(@user, url:"/users")do |f| %>
      <%= f.label :number %>
      <%= f.number_field :number, class: 'form-control' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
</div>