<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Repeat Alert", '/', id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
        
           <% if logged_in? %>
            <li><%= link_to "アラート一覧",   '/purchases' %></li>
            <li><%= link_to "登録商品一覧",   '/products' %></li>
              <li><%= link_to "お客様一覧", '/users' %></li>
              <li><%= link_to "Profile", current_salon %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "signup", '/signup'%></li>
        <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
